[Unit]
Description=Prometheus Ganeti Exporter
After=network.target
ConditionPathExists=/etc/ganeti/prometheus.ini

[Service]
Type=simple
Restart=always
# You should create/use a non-privileged user for this service!
# User=prometheus
ExecStart=/usr/bin/prometheus-ganeti-exporter

[Install]
WantedBy=multi-user.target
